/* lodówka */
* {
    margin: 0px;
    padding: 0px;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#info{
    border: 1px solid black;
    float: right;
    padding: 10px;
    margin: 10px;
}

#zaznaczenie{
    position: absolute;
    border: 1px solid blue;
    background-color: rgba(0,0,255,0.3);
    z-index: 998;
}

/* Modyfikowanie zawartości */

#contentModify{
    z-index: 999;
    width: 50%;
    margin: auto;
    position: relative;
    display: none;
}

#save{
    width: 20px;
    height: 20px;
    right: 50px;
    top: 10px;
    background-image: url("gfx/checked.png");
    background-size: cover;
    position: absolute;
}

#rejection{
    width: 20px;
    height: 20px;
    right: 20px;
    top: 10px;
    background-image: url("gfx/remove.png");
    background-size: cover;
    position: absolute;
}
/* karteczka */
.notatka {
    min-width: 50px;
    min-height: 50px;
    border: solid 1px;
    position: absolute;
    background-color: white;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white; 
    background-image: 
    linear-gradient(90deg, transparent 20px, red 21px, red 22px, transparent 22px),
    linear-gradient(lightgray .1em, transparent .1em);
    background-size: 100% 1.6em;
    line-height: 1.6em;
    padding-left: 25px;
    padding-right: 25px;
    overflow: scroll;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
     -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}

.remove {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.resize {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    cursor: nw-resize;
}

.write {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
}

/* Popup */

#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#popupContent{
    padding: 0px;
    margin: 0px;
    width: 50%;
}

#popupContent span{
    font-family: 'Kalam', cursive;
    width: 100%;
    padding-bottom: 5%;
    font-size: 250%;
    float: left;
    text-align: center;
}

#popupContent input{
    float: left;
    width: 80%;
    border: 0px;
    border-bottom: 2px solid bisque;
    font-size: 200%;
}
#popupContent button{
    float: left;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    background: none;
    border: 0px;
}